@mixin font($family, $weight, $size, $color) {
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

/*-------------------------HEADER-------------------------*/

header {
    width: 320px;
    height: 540px;
    padding: 20px;
    box-sizing: border-box;
    background: url(../../images/mobile/mobile-Background.png);
    background-size: 320px;
    background-position: center top;
    .header__top {
        justify-content: center;
        margin-bottom: 95px;
        .top__left {
            position: absolute;
            top: 153px;
        }
        .top__right {
            button {
                padding: 10px 18px;
            }
        }
    }
    .header__main {
        top: 55.5px;
        >div {
            @include font(Montserrat, 700, 30px, #FFFFFF);
        }
        >p {
            @include font(Roboto, 300, 18px, #F7F3F2);
            margin-bottom: 15px;
            text-align: center;
        }
        >button {
            padding: 12px 46px;
        }
    }
}

/*----------------------HOW IT WORKS----------------------*/

%step {
    width: 300px;
    height: 240px;
    padding: 16px 30px 16px 20px;
    box-sizing: border-box;
    margin: 0 auto 10px auto;
    border-radius: 4px;
}

.instruction {
    margin: 35px auto;
    width: 300px;
    .instruction__header {
        margin: 0 auto 15px auto;
        width: 290px;
        font-size: 22px;
    }
    .instruction__steps {
        display: block;
        .step__1 {
            @extend %step;
            background: url(../../images/mobile/mobile-Step-1.png);
        }
        .step__2 {
            @extend %step;
            background: url(../../images/mobile/mobile-Step-2.png);
        }
        .step__3 {
            @extend %step;
            background: url(../../images/mobile/mobile-Step-3.png);
        }
    }
}

/*-----------------------PARTNERS------------------------*/

.partners {
    width: 300px;
    margin: 26px auto 0 auto;
    .partners__header {
        font-size: 22px;
        line-height: 26.8px;
        text-align: center;
    }
    .partners__persons {
        display: block;
        >div {
            margin: 16px auto;
        }
    }
    button {
        width: 299px;
        margin: 36px auto 0 auto;
    }
}

/*-------------------------IDEAS--------------------------*/

%box {
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 10px;
}

.ideas {
    margin: 35px auto 0 auto;
    width: 300px;    
    .ideas__header {
        @include font(Montserrat, 700, 22px, #444444);
        width: 280px;
        line-height: 26.8px;
        text-align: center;
        margin-bottom: 33px;
    }
    .ideas__box {
        display: block;
        >div {
            @extend %box;
        }
        div:nth-child(1) {
            background: url(../../images/mobile/mobile-sport.png);
        }
        div:nth-child(2) {
            background: url(../../images/mobile/mobile-health.png);
        }
        div:nth-child(3) {
            background: url(../../images/mobile/mobile-extreme.png);
        }
        div:nth-child(4) {
            background: url(../../images/mobile/mobile-games.png);
        }
        div:nth-child(5) {
            background: url(../../images/mobile/mobile-culture.png);
        }
        div:nth-child(6) {
            background: url(../../images/mobile/mobile-relax.png);
        }
        div:nth-child(7) {
            background: url(../../images/mobile/mobile-travel.png);
        }
    }
}

/*-------------------------CREATE--------------------------*/

.create {
    width: 300px;
    margin: 35px auto 0 auto;
    .create__header {
        @include font(Montserrat, 700, 22px, #444444);
        line-height: 26.8px;
        margin-bottom: 9px;
    }
    .create__desc {
        margin: 0 auto 15px auto;
    }
    .create__form {

        display: block;
        form,
        button {
            width: 280px;
            margin: 10px;
        }
    }
}

/*-------------------------FOOTER--------------------------*/

.footer {
    display: block;
    .footer__name {
        margin-top: 20px;
    }
    .footer__company {
        width: 250px;
        margin: 13px auto 0 auto;
        p {
            text-align: center;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                margin: 10px;
            }
            li:nth-child(1) {
                margin-left: 25px;
            }
            li:nth-child(5) {
                margin-left: 45px;
            }
        }
    }
    .footer__partners {
        width: 65px;
        margin: 0 auto;
    }
    .footer__logo {
        width: 110px;
        margin: 14px auto;
        p {
            text-align: center;
            letter-spacing: 1px;
        }
    }
}