@mixin font($family, $weight, $size, $color) {
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

/*-------------------------HEADER-------------------------*/

header {
    padding-top: 40px;
    width: 1440px;
    height: 700px;
    box-sizing: border-box;
    background: url(../../images/general/BG-header.png) no-repeat;
}

.header__top {
    justify-content: space-between;
    .top__left {
        padding-left: 250px;
    }
    .top__right {
        padding-right: 290px;
        button {
            padding: 10px 20px;
        }
    }
}

/*----------------------HOW IT WORKS----------------------*/

%step {
    width: 300px;
    height: 400px;
    padding: 16px 20px;
    box-sizing: border-box;
}

.instruction__header {
    margin: 50px auto 35px auto;
    width: 342px;
    font-size: 26px;
}

.instruction__steps {
    .step__1,
    .step__2,
    .step__3 {
        @extend %step;
    }
}

/*-----------------------PARTNERS------------------------*/
.partners {
    width: 941px;
    .partners__header {
        width: 491px;
    }
    .partners__persons {
        justify-content: space-between;
        .person {
            width: 221px;
        }
    }
}

/*-------------------------IDEAS--------------------------*/

%box-small {
    width: 300px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
}

%box-big {
    width: 620px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.ideas {
    width: 940px;
    .ideas__header {
        @include font(Montserrat, 700, 26px, #444444);
    }
    .ideas__box {
        div:nth-child(1),
        div:nth-child(2),
        div:nth-child(3),
        div:nth-child(4),
        div:nth-child(7) {
            @extend %box-small;
        }
        div:nth-child(5),
        div:nth-child(6) {
            @extend %box-big;
        }
    }
}

/*-------------------------CREATE--------------------------*/

.create {
    margin: 95px auto 0 auto;
    .create__header {
        @include font(Montserrat, 700, 26px, #444444);
    }
}

/*-------------------------FOOTER--------------------------*/

.footer {
    width: 940px;
    .footer__name {
        margin-right: 122px;
    }
    .footer__company {
        margin-right: 170px;
    }
    .footer__partners {
        margin-right: 248px;
    }
}