.line
footer.footer
  .footer__name DREAMSHARE
  .footer__company
    p Company
    ul
      li
        button About
      li
        button Contact
      li
        button Press
      li
        button Blog
      li
        button Terms and Privacy
      li
        button Help
  .footer__partners Partners
  .footer__logo
    p DESIGNED BY
    div
