header
  .header__top
    .top__left
      p DREAMSHARE
    .top__right
      button Log in
      button Sign up
  .header__main
    div
      p SHARE YOUR
      p HOLIDAY DREAM
    p And find the perfect partner to fullfill it
    button Find your holiday partner
